<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    >
    <uses-permission android:name="android.permission.INTERNET "/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SportApp"
        tools:targetApi="31"
        android:usesCleartextTraffic="true"
        >

        <activity
            android:name=".WelcomeActivity"
            android:exported="true"
            android:theme="@style/AppThemeBlue">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".GenderActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity"/>
        <activity android:name=".DBHelper" />
        <activity android:name=".QuizActivity" />
        <activity android:name=".AbsBeginnerActivity" />
        <activity android:name=".ImaginiActivity"  />
        <activity android:name=".AboutHealthActivity"  />
        <activity android:name=".LoseGainActivity"  />
        <activity android:name=".AboutYouActivity"  />
        <activity android:name=".AbsMidActivity"  />
        <activity android:name=".AbsAdvActivity"  />
        <activity android:name=".ArmAdvActivity"  />
        <activity android:name=".ArmBeginnerActivity"  />
        <activity android:name=".ArmMidActivity"  />
        <activity android:name=".LegAdvActivity"  />
        <activity android:name=".LegMidActivity"  />
        <activity android:name=".LegBeginnerActivity"  />
        <activity android:name=".BackAdvActivity"  />
        <activity android:name=".BackMidActivity"  />
        <activity android:name=".BackBeginnerActivity"  />
        <activity android:name=".ChestAdvActivity"  />
        <activity android:name=".MenuActivity"/>
        <activity android:name=".ChestMidActivity"  />
        <activity android:name=".ChestBeginnerActivity"  />
    </application>

</manifest>